@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");
@import url("react-loading-skeleton/dist/skeleton.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

@layer components {
  .link {
    @apply inline-block whitespace-nowrap transition hover:text-blue-500;
  }
  .btn {
    @apply inline-block rounded-md bg-blue-500 px-4 py-2 text-white shadow-md transition hover:bg-blue-600;
  }
  table {
    @apply w-full table-auto;
  }
  tbody {
    @apply font-light;
  }
  td,
  th {
    @apply px-2 py-4 text-left;
  }
  tr {
    @apply border-t;
  }
  thead tr {
    border-top: none;
  }
  th {
    @apply border-b-2 font-medium;
  }
}
