@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

@layer components {
  .link {
    @apply inline-block whitespace-nowrap transition hover:text-blue-500;
  }

  button,
  a {
    background-color: unset;
  }
  .btn {
    @apply inline-block rounded-md px-4 py-2 font-medium text-white shadow-md transition;
  }

  .btn-outline {
    @apply btn transition hover:text-white;
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-600;
  }
  .btn-primary-outline {
    @apply btn-outline border-blue-500 text-blue-500 hover:bg-blue-500;
  }

  .btn-secondary {
    @apply btn bg-gray-500 hover:bg-gray-600;
  }

  .btn-secondary-outline {
    @apply btn-outline border-gray-500 text-gray-500 hover:bg-gray-500;
  }

  .btn-danger {
    @apply btn rounded-md bg-red-500 hover:bg-red-600;
  }

  .btn-danger-outline {
    @apply btn-outline border-red-500 text-red-500 hover:bg-red-500;
  }
  /* .inactive {
    @apply pointer-events-none bg-gray-300 text-gray-700 opacity-50;
  } */

  table {
    @apply w-full table-auto;
  }
  tbody {
    @apply text-sm text-gray-600;
  }
  td,
  th {
    @apply px-2 py-4 text-left;
  }
  tr {
    @apply border-t;
  }
  thead tr {
    border-top: none;
  }
  th {
    @apply border-b-2 font-medium;
  }

  .panel {
    @apply rounded-lg border-2 border-gray-200 bg-white p-6 shadow-md;
  }
}
